.CV-digital-skills{
    grid-column: 2/3;
}

.CV-digital-skills-field{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CV-header-digital-skills{
    font-weight: 500;
    font-size: 1.5rem;
}

.CV-digital-skills-header-comp{
    display: flex;
    justify-content: center;
    align-items: center;
}