.CV-education{
    grid-column: 2/3;
}

.CV-education-header{
    font-weight: 500;
    font-size: 1.5rem;
}

.CV-education-header-comp{
    display: flex;
    justify-content: center;
    align-items: center;
}