.cv-one-personal-info{
    display: flex;
    flex-direction: column;
}

.cv-one-header-personal-info {
    font-weight: 500;
    font-size: 1.5rem;
}

.cv-one-personal-info-header-comp {
    display: flex;
    align-items: center;
    justify-content: center;
}