.cv-one-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;

}

.cv-one-description-box{
    font-weight: 500;
    font-size: 1rem;
}

textarea{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 4rem;
}

.cv-one-description-header{
    font-weight: 500;
    font-size: 1.25rem;
}