.cv-one-prof-exp-comp{
    grid-column: 3/4;   
    grid-row-start: 1;
    grid-row-end: 6;
}

.cv-one-prof-exp-header{
    font-weight: 500;
    font-size: 1.5rem;
}

.cv-one-prof-exp-header-comp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-one-prof-exp-comp hr {
    width: 80%;
}
