.CV-personal-info{
    grid-column: 2/3;
}

.CV-personal-info input{
    width: 75%;
}

.CV-header-personal-info{
    font-weight: 500;
    font-size: 1.5rem;
/*  
    text-decoration: overline underline;
 */
 
}

.CV-personal-info-field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.CV-personal-info-header-comp{
    display: flex;
    justify-content: center;
}