@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,500;1,400&family=Barlow:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  display: grid;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
}

body{
  background-color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


hr{
  width: 20rem;
}


.print-cv-btn{
  padding: 1rem;
}

/* CSS */
.print-cv-btn {
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  vertical-align: middle;
}

.print-cv-btn:hover,
.print-cv-btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.print-cv-btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.print-cv-btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.button-container{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

