
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cv-selection-page {
    display: flex;
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    max-width: 100%;
  }

.sample-one-cv {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;
}

.header-personal-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sample-one-header {
    display: flex;
    padding: 0.5rem;
}

.sample-one-name {
    width: 7rem;
    height: 1.5rem;
    background-color: black;
    margin-bottom: 0.15rem;
}

.sample-one-role {
    width: 6rem;
    height: 0.5rem;
    background-color: blue;
}

.sample-one-photo {

    width: 4rem;
    height: 4rem;
    background-color: black;
    margin-left: 1rem;
}

.sample-one-description {

    width: 13rem;
    height: 2rem;
    background-color: blue;
}


.cv-selection-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sample-one-cv-comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    border-radius: 0.25rem;
}

.sample-one-body {

    display: flex;
    margin-top: 1rem;
}

.sample-one-left-side {
    display: flex;
    flex-direction: column;
}

.sample-one-contact-info {
    width: 5rem;
    height: 2rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-one-software-skills {
    width: 5rem;
    height: 2.5rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-one-language-skills {
    width: 5rem;
    height: 1.5rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-one-education {
    width: 5rem;
    height: 1.5rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-one-work-experience {

    width: 7rem;
    height: 10rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-left: 1rem;
}

.light-version-cv-button {
    margin-top: 1rem;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    vertical-align: middle;
}

.light-version-cv-button:hover,
.light-version-cv-button:focus {
    background-color: #16437E;
    color: #ffffff;
}

.light-version-cv-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.light-version-cv-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.sample-two-cv {
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 20rem;

}

.sample-two-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sample-two-cv-comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.sample-two-personal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sample-two-photo{
    width: 4rem;
    height: 4rem;
    background-color: black;
    margin-bottom: 0.25rem;
}

.sample-two-name {
    width: 7rem;
    height: 1.5rem;
    background-color: black;
    margin-bottom: 0.25rem;
}

.sample-two-role {
    width: 6rem;
    height: 0.5rem;
    background-color: blue;
    margin-bottom: 0.25rem;
}

.sample-two-digital-skills{
    width: 5rem;
    height: 3rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-two-education{

    width: 5rem;
    height: 3rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;

}

.sample-two-languages{
    width: 5rem;
    height: 2.5rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
}

.sample-two-work-experience{
    width: 5rem;
    height: 17rem;
    background-color: black;
    margin-bottom: 0.15rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.cv-selection-text{
    font-size: 2.5rem;
}