.CV-page{
    display: grid;
     
    grid-template-columns: 0.5fr 3.5fr 6fr;
     
    grid-template-areas: 
    "first second third"
    "first second third"
    "first second third"
    "first second third"
    "first second third";
    width: 21cm;
    height: 29.68cm;
    background-color:white;
}

.CV-page .first{
    grid-area: first;
    background-color:lightblue;
}

.CV-page .third{
    grid-row-start: 1;
    grid-row-end: 5;
}


.CV-page .second {
    grid-row-start: 1;
    grid-row-end: 5;
}

button{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showButtons{
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideButtons{
    visibility: hidden;
    color: transparent;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
}

.material-symbols-outlined{
    margin-right: 1rem;
}

.fa-linkedin-square{
    margin-right: 1rem;
}

input{
    text-align: start;
    border: none;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
  }
  
 
@page {
    size: A4 portrait;
}

@media print{

    body{
        font-family:'Barlow Condensed', sans-serif;
        height: 100vh; /* Use 100% here to support printing more than a single page*/
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
    
}

