@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,200;0,400;0,500;1,400&family=Barlow:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  display: grid;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
}

body{
  background-color: antiquewhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


hr{
  width: 20rem;
}
