@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,500;1,400&display=swap');

.App {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  display: grid;
  justify-content: center;
  background-color: antiquewhite;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input{
  text-align: center;
  border: none;
}

hr{
  width: 20rem;
}